<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5922979880-fnigi350sf4d07r92adt0vntl9ih6gb3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5922979880-fnigi350sf4d07r92adt0vntl9ih6gb3</string>
	<key>API_KEY</key>
	<string>AIzaSyC0FdG8hHxUHE90S7JejYweHcVLUOz-Bms</string>
	<key>GCM_SENDER_ID</key>
	<string>5922979880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PizzaDelivery</string>
	<key>PROJECT_ID</key>
	<string>pizzaswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>pizzaswiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5922979880:ios:25d3dddba2b1e5c69df51d</string>
</dict>
</plist>